
body,html {
    font-family: Garamond, sans-serif;
    background-color: rgb(46, 64, 83);
    height:100%;
    overflow-x:hidden;
    box-sizing:border-box;
}
div{
    padding: 0 !important;
    margin: 0 !important;

}
body{
    line-height: 1;
    letter-spacing: .5px;
    overflow-x:hidden;
    box-sizing:border-box;
    
}
header, footer{
    border:solid 2px;
    border-color: #000000;
    height:20%;
    text-align: center;
    overflow-x:hidden;
    box-sizing:border-box;
}
main {
    height: 60%;
    padding:5%;
    overflow-x:hidden;
    box-sizing:border-box;
}
h1 {
    font-weight: 200;
    text-align: center;
    color: rgb(212, 180, 131);
    
}

h2 {
    font-weight: 200;
    color: rgb(212, 180, 131);
}

h3{
    font-weight: 200;
    color: rgb(212, 180, 131);
}

p,li,ul,a{
    
    font-weight: 500;
    color: rgb(253, 254, 254);
}

a{
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: rgb(253, 254, 254);
}
a:focus {
    outline: none;
    color: rgb(253, 254, 254);
}
a:hover{
    color: rgb(212, 180, 131);
}

b{
    font-weight: 700;
}

img {
    border-style: none
}
.highlight{
    font-weight: 500;
    text-decoration: none;
    color: rgb(212, 180, 131);
}
.grow{
    font-size:3rem;
    overflow-x:hidden;
    box-sizing:border-box;
}
.overflow{
    overflow-x:hidden;
}