<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Generic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="C:\Users\Usuario\OneDrive\Documentos\04 Trabajo\Oko\Webpage template\Format">
</head>

<body>
  <header>
    <div>
      <a class="white white:hover" href=Economics.html>Economics</a>
      <a class="white white:hover" href=Finance.html>Finance</a>
      <a class="white white:hover" href=Geopolitics.html>Geopolitics</a>
      
    </div>

    <div>
    <h2><a class="gold" href=index.html>OKOnomics</a></h2>
    
    </div>


    </header>

  <main>
    <div><h1></h1></div>
    <div> <p> </p> </div>
        

  </main>

<footer>
  <div>
    <a class="white white:hover" href=Economics.html>Economics</a>
    <a class="white white:hover" href=Finance.html>Finance</a>
    <a class="white white:hover" href=Geopolitics.html>Geopolitics</a>
    
  </div>

    <div>
      <a class="white white:hover">Jordi Amat Hernández</a> <a class="white white:hover">Rachid Kharkhach Nikolaev</a> 

</footer>

</body>

</html>
